In [1]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame
start = datetime.datetime(2001, 1, 1)
end = datetime.datetime(2019, 9, 11)
df = web.DataReader("RELIANCE.NS", 'yahoo', start, end)
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2001-01-01  53.675701  52.949402  53.105499  53.378899  19259768.0  24.117231
2001-01-02  56.073200  53.144600  53.160198  55.339100  42408935.0  25.002876
2001-01-03  56.494900  55.136101  55.448399  56.237202  56622894.0  25.408649
2001-01-04  57.307098  55.635899  56.088799  55.885799  38303310.0  25.249889
2001-01-05  57.291500  55.682701  55.682701  56.901001  47762434.0  25.708565